#container {
    
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
	width: 500px;
	height: 500px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex: 1 1 auto;
}

.cell{
  background: white;
	flex: 1 1 auto;
	border: 1px solid black;
}

.btns {
    display: flex;
    justify-content: center;
}

#gen {
    background-color: white;
    color: blue;
    margin-right: 5%;

}

#reset {
    margin-left: 5%;
}